<a href="https://colab.research.google.com/github/themysterysolver/PYTHON_BASICS/blob/main/PANDAS/Practise_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

Pandas stands for panel data.
---
Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

In [3]:
print(pd.__version__)

2.2.2

Series
---
A Pandas Series is like a ***column*** in a table.

It is a one-dimensional array holding data of any type.
With the index argument, you can name your own labels

In [7]:
a=[1,3,5,7,9]
s=pd.Series(a)
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [8]:
s=pd.Series(a,index=["p","q","x","y","z"])

In [9]:
print(s)

p    1
q    3
x    5
y    7
z    9
dtype: int64

In [10]:
print(s["y"])

7

In [11]:
d={i:i+1 for i in range(1,5)}

In [12]:
print(d)

{1: 2, 2: 3, 3: 4, 4: 5}

- To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.
- The keys of the dictionary become the labels.
-  use a key/value object, like a dictionary, when creating a Series.

In [17]:
ns=pd.Series(d)
print(ns)
ns1=pd.Series(d,index=[1,2,3])
print(ns1)

1    2
2    3
3    4
4    5
dtype: int64
1    2
2    3
3    4
dtype: int64

# DataFrames
- Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
- Series is like a column, a DataFrame is the whole table.
- ***pd.DataFrame()***.It returns a DataFrame object, which is a container for structured data.
- A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
- When you use **pd.read_csv()** to read a CSV file, it loads the content of the CSV file into a Pandas DataFrame objec

In [7]:
iris=pd.read_csv('iris.csv')

In [19]:
print(iris)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

- Locate Row:loc()
- Pandas use the loc attribute to return one or more specified row(s)

In [8]:
print(iris.loc[0])

sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object